<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mercure-url" content="{{ mercure_public_url() }}">
        <title>Keres - {% block title %}The Art of Abstract Play{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('/favicon-96x96.png') }}" sizes="96x96"/>
        <link rel="icon" type="image/svg+xml" href="{{ asset('/favicon.svg') }}"/>
        <link rel="shortcut icon" href="{{ asset('/favicon.ico') }}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/apple-touch-icon.png') }}"/>
        <meta name="apple-mobile-web-app-title" content="Keres"/>
        <link rel="manifest" href="{{ asset('/site.webmanifest') }}"/>
        {% block javascripts %}
            {{ vite_entry_script_tags('app') }}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block end_javascripts %}{% endblock %}
</body>
</html>
