{% extends 'base.html.twig' %}

{% block title %}Play Game - Keres{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="mercure-url" content="{{ mercure(url('play', {uuid: game.uuid})) }}">
{% endblock %}

{% block body %}
    <div class="game-container">
        <div id="board-container"
             data-moves="{{ moves }}"
             data-game-uuid="{{ game.uuid }}"
             data-opponent-type="{{ game.opponentType.value }}"
             data-player-white="{{ game.white ? 'true' : 'false' }}"></div>
        <div id="status" class="float-right">Loading...</div>
        {% if game.opponentType == enum('App\\Model\\OpponentType').AI %}
            <button class="btn btn-outline" id="switch-sides-btn">Switch Sides</button>
        {% endif %}
        <button class="btn btn-outline" id="toggle-threats-btn">Hide Threats</button>
        <button class="btn" id="undo-btn">Undo</button>
        <div class="move-history">
            <label class="label">Move History</label>
            <div class="buttons">
                <button class="btn btn-outline" id="prev-move-btn" title="Previous Move">◄ Prev</button>
                <button class="btn btn-outline" id="next-move-btn" title="Next Move">Next ►</button>
            </div>
            <div id="move-history-display" class="move-history-box">
                <table class="table is-fullwidth move-history-table has-background-dark has-text-white">
                    <thead>https://local.playkeres.com/play/09ce1faf-c9b5-4ae8-9b27-7a4ae6a01c6e#:~:text=Internal%20Server%20Error-,Unknown%20%22mercure_public_url%22%20function,-in%20base.html
                    <tr>
                        <th>#</th>
                        <th>White</th>
                        <th>Black</th>
                    </tr>
                    </thead>
                    <tbody id="move-history-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal" id="unstack-modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Choose your move</p>
            </header>
            <section class="modal-card-body">
                <p>You are moving a stacked piece. Do you want to move the full stack or only the top piece?</p>
            </section>
            <footer class="modal-card-foot">
                <button class="button" id="move-stack">Move Full Stack</button>
                <button class="button" id="move-unstack">Move Top Piece</button>
            </footer>
        </div>
    </div>
{% endblock %}

{% block end_javascripts %}
    {{ vite_entry_script_tags('play') }}
{% endblock %}
