{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="game-container">
            <div class="main-container">
                <div id="board-container" 
                     data-moves="{{ moves }}" 
                     data-board="{{ board }}" 
                     data-game-uuid="{{ game.uuid }}"
                     data-opponent-type="{{ game.opponentType }}"
                     data-player-side="{{ game.playerSide }}"></div>
                <div id="status">Loading...</div>
                <div class="buttons mt-4">
                    <a href="{{ path('new_game') }}" class="button is-warning">Reset board</a>
                    {% if game.opponentType == 'hotseat' %}
                        <button class="button is-primary" id="switch-sides-btn">Switch Sides</button>
                    {% endif %}
                    <button class="button is-link" id="toggle-threats-btn">Hide Threats</button>
                </div>
            </div>
            <div class="move-history">
                <label class="label">Move History</label>
                <div class="buttons mt-2">
                    <button class="button is-info" id="prev-move-btn" title="Previous Move">◄ Prev</button>
                    <button class="button is-info" id="next-move-btn" title="Next Move">Next ►</button>
                    <button class="button is-warning" id="undo-btn">Undo</button>
                </div>
                <div id="move-history-display" class="move-history-box">
                    <table class="table is-fullwidth move-history-table has-background-dark has-text-white">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>White</th>
                            <th>Black</th>
                        </tr>
                        </thead>
                        <tbody id="move-history-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="unstack-modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Choose your move</p>
            </header>
            <section class="modal-card-body">
                <p>You are moving a stacked piece. Do you want to move the full stack or only the top piece?</p>
            </section>
            <footer class="modal-card-foot">
                <button class="button" id="move-stack">Move Full Stack</button>
                <button class="button" id="move-unstack">Move Top Piece</button>
            </footer>
        </div>
    </div>
{% endblock %}

{% block end_javascripts %}
    {{ vite_entry_script_tags('play') }}
{% endblock %}
